.container-fluid {
  padding: 0;
}

.header .logo {
  max-height: 90px;
}

.header h1 {
  color: #ff8079;
  display: inline;
  font-family: 'Satisfy', cursive;
}

.nav {
  margin-top: 50px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  color: #80BEEA;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  color: #f17779;
  background-color: transparent;
  border-bottom: 3px solid #f17779;
}

.nav-pills>li>a {
  border-radius: 0px;
}

.jumbotron {
  background-image: url('../img/hero.jpg');
  border-radius: 0px!important;
  background-size: cover;
  height: 450px;
  background-position: center;
}

.jumbotron .slogan {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
}

.featured .thumbnail {
  background-color: #edf1f4
}
 .row h2 {
   text-transform: uppercase;
   font-size: 25px;
 }

 .thumb {
  padding-right: 10px;
  padding-left: 10px;
 }

.thumbnail .caption {
  padding: 9px 9px 0px 9px;
}

.thumbnail h3 {
  font-size: 20px;
  padding-left: 3px;
}

.thumbnail img {
  padding: 10px 10px 0 10px;
}

.thumbnail p {
  padding-left: 3px;
}

.featured .btn-primary {
  background-color: #5BC0DE;
  border-color: #4DBADB;
}

.services h5 {
  text-align: center;
  color: #80BEEA;
  text-transform: uppercase;
  padding: 15px 0 5px 0;
}

.services h2 {
  text-align: center;
}

.services p {
  text-align: center;
}

footer {
  background-color: #231f20;
  padding-top: 25px;
}

footer .logo {
  max-height: 90px;
}

.footer ul {
  list-style-type: none;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.no-margin {
  margin: 0;
}

.address {
  color: #bfc0c1;
  border-right: .5px solid #bfc0c1;
  border-left: .5px solid #bfc0c1;
}

.copyright {
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.social a {
  color: #bfc0c1;
}


li a:hover {
  color: #F17779;
  text-decoration: none;
}

/* CONTACT PAGE */
